page-rule {
	.card-header, .cardfooter{
		background-color:#367a99;
		color:white;
		font-weight: bold;
	}

	.card-content{
		margin-top:12px;
		text-align: justify;
	}

	.rc{
		color:#2889ff;
	}

	.bc{
		color:#ff1275;
	}
}
