<ion-header>

  <ion-navbar>
    <ion-title>{{'GENERAL.RULES' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
		<div *ngFor="let rule of rules; let index = index ">
			<ion-card *ngIf="rule.forma == forma">
		  <ion-card-header>
		   {{'GENERAL.RULE' | translate}}
		   <ion-icon color="light" name="school" float-right></ion-icon>
		  </ion-card-header>
		  <ion-card-content>
				<p>
					<span [innerHTML]="enchular(rule.regla)"></span>
				</p>	  	
		  </ion-card-content>
		</ion-card>
	</div>
</ion-content>
