<ion-header>

  <ion-navbar>
    <ion-title>{{'GENERAL.INFORMATION' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-content padding *ngIf="type != 'dedos'">
	<ion-card>
	  <ion-card-header>
	    {{title}}
	  </ion-card-header>
	  <ion-card-content>
	    <p *ngIf="info; else not_found"class="info" [innerHTML]="pro(info)"></p>
	    <ng-template #not_found class="tuto">☺☺☺</ng-template>
	  </ion-card-content>
	</ion-card>
</ion-content>

	<ion-item-group *ngIf="type == 'dedos'">
		<ion-item-divider>{{'INFO.MODES' | translate}}</ion-item-divider>
		<ion-item>
			<ion-icon color="soft-blue" name="ios-thumbs-up-outline"></ion-icon>
			<p item-end>{{'INFO.AFFIRMATIVE_INFORMAL' | translate}}</p>
		</ion-item>
		<ion-item>
			<ion-icon color="soft-blue" name="ios-thumbs-down-outline"></ion-icon>
			<p item-end>{{'INFO.NEGATIVE_INFORMAL' | translate}}</p>
		</ion-item>
		<ion-item>
			<ion-icon color="soft-blue" name="ios-thumbs-up"></ion-icon>
			<p item-end>{{'INFO.AFFIRMATIVE_FORMAL' | translate}}</p>
		</ion-item>
		<ion-item>
			<ion-icon color="soft-blue" name="ios-thumbs-down"></ion-icon>
			<p item-end>{{'INFO.NEGATIVE_FORMAL' | translate}}</p>
		</ion-item>
		<ion-item>
			<ion-toggle item-start checked="true" disabled color="info"></ion-toggle> 
			<p item-end>{{'VERBS_MENU.REFLEX_PRONOUN' | translate}}</p>
		</ion-item>
	</ion-item-group>

</ion-content>