<ion-header>
  <ion-navbar>
    <ion-title>Regulares</ion-title>    
    <ion-buttons right>
      <button ion-button icon-only><ion-icon name="book" ></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-item-group *ngFor="let i of keys" >
    <ion-item-divider color="light" (tap)="openModal()" id="{{i}}"><b>{{i}}</b></ion-item-divider>
    <ion-item *ngFor="let it of verbs[i]" (click)="selectVerbo(it)">
    	<h2><b>{{it.infinitivo}}</b></h2>
    </ion-item>
  </ion-item-group>
</ion-content>