page-list-verbos {
	.shine{
		color:#ff0fe7;
		background:#e7ff0e;
	}
	.extrakeys{
		color:black;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		border: 1px solid black;
		padding-left:.8rem;
		padding-right:.8rem;
		background-color:lightgray;
	}	

	.list-md{
		margin:0;
	}
}
