<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>    
    <ion-buttons right>
      <button ion-button icon-only><ion-icon name="book" ></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list *ngFor="let i of keys" >
    <ion-item-divider color="light" (tap)="openModal()" id="{{i}}"><b>{{i}}</b></ion-item-divider>
    <ion-item *ngFor="let it of verbs[i]">
    	<h2 (click)="selectVerbo(it)"><b>{{it.infinitivo}}</b></h2>
      <p style="color:gray;" (click)="selectVerbo(it)" >{{it.def}}</p>
      <button ion-fab mini color="light" [ngClass]="{'shine': isFav(it.id)}" item-end (click)="addFav(it.id)">
        <ion-icon name="star-outline"></ion-icon>
      </button>  
    </ion-item>
  </ion-list>
</ion-content>