page-verbo-regular {
	.pronombre{
		color: green;
	}
	#negado{
		color: darkred;
	}
	.pro_reflex{
		color: #02857c;
	}
	.verbaux{
		color: #b218ff;
	}
	.fab{
		background-color: rgba(0,0,0,0.4);
	}
	
	ion-col{
		font-size:1.2rem;
	}
	.pgramatical{
		font-weight:bold;
		color:#2889ff;
	}
	.pgramatical2{
		font-weight:bold;
		color:#ff1275;
	}

	ion-icon{
		color:white;
	}

	ion-segment-button{
		padding:3px;
	}
	.rc{
		color:darkred;
	}
	.capi{
		text-transform:capitalize;
	}
	.fdivider{
		b{
			color:white;
		}
	}
}