<ion-header>

  <ion-navbar>
    <ion-title>{{verbo.infinitivo}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="hideEmpty()"><ion-icon name="alert"></ion-icon></button>
    </ion-buttons>    
  </ion-navbar>

</ion-header>

<ion-content block>
<ion-item>
  <ion-label>{{tense}}</ion-label>
  <ion-toggle checked="true" [(ngModel)]="tenses" (ionChange)="setTense()"></ion-toggle>  
</ion-item>
<ion-item-group *ngFor="let key of verboKeys" class="verbitem">
  <ion-item-divider color="primary">
    <b>{{key}}</b>
  </ion-item-divider>

  <div *ngFor="let item of verboData[key]">
  <ion-item *ngIf="afirmativo && informal && item.forma_verbal == 'Afirmativo informal' && !tenses">
  	<ion-row>

    	<ion-col class="pronombre">
        <span >{{item.pronombre}}</span>
      </ion-col>
      <ion-col class="pro_reflex">{{item.pronombre_reflex}}</ion-col>
      <ion-col class="verbaux">{{item.verbo_auxiliar}}</ion-col>
  		<ion-col>{{item.raiz}}<b style="color:blue;">{{item.desinencia}}</b></ion-col>
      <ion-col>
        <button *ngIf="item.regla" ion-button icon-only color="light" item-end (click)="showRule(item.regla)">
          <ion-icon name="information"></ion-icon>
        </button>
      </ion-col>
  	</ion-row>

  </ion-item>
    
  <ion-item *ngIf="!afirmativo && informal && item.forma_verbal == 'Negativo informal' && !tenses">
  <ion-row>  
    <ion-col class="pronombre">{{item.pronombre}}</ion-col>
    <ion-col style="color:darkred; forn-weight:bold;">no</ion-col>
    <ion-col class="pro_reflex">{{item.pronombre_reflex}}</ion-col>
    <ion-col class="verbaux">{{item.verbo_auxiliar}}</ion-col>
    <ion-col>{{item.raiz}}<b style="color:blue;">{{item.desinencia}}</b></ion-col>
    <ion-col>
      <button *ngIf="item.regla" ion-button icon-only color="light" item-end (click)="showRule(item.regla)">
        <ion-icon name="information"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  </ion-item>

  <ion-item *ngIf="afirmativo && !informal && item.forma_verbal == 'Afirmativo formal' && !tenses">
  <ion-row>  
    <ion-col class="pronombre">{{item.pronombre_formal_id}}</ion-col>
    <ion-col class="pro_reflex">{{item.pronombre_reflex}}</ion-col>
    <ion-col class="verbaux">{{item.verbo_auxiliar}}</ion-col>
    <ion-col>{{item.raiz}}<b style="color:blue;">{{item.desinencia}}</b></ion-col>
    <ion-col>
      <button *ngIf="item.regla" ion-button icon-only color="light" item-end (click)="showRule(item.regla)">
        <ion-icon name="information"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  </ion-item>  

  <ion-item *ngIf="!afirmativo && !informal && item.forma_verbal == 'Negativo formal' && !tenses">
  <ion-row>  
    <ion-col class="pronombre">{{item.pronombre_formal_id}}</ion-col>
    <ion-col style="color:darkred; forn-weight:bold;">no</ion-col>
    <ion-col class="pro_reflex">{{item.pronombre_reflex}}</ion-col>
    <ion-col class="verbaux">{{item.verbo_auxiliar}}</ion-col>
    <ion-col>{{item.raiz}}<b style="color:blue;">{{item.desinencia}}</b></ion-col>
    <ion-col>
      <button *ngIf="item.regla" ion-button icon-only color="light" item-end (click)="showRule(item.regla)">
        <ion-icon name="information"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  </ion-item>  

  <ion-item *ngIf="afirmativo && informal && item.forma_verbal == 'Afirmativo reflexivo informal' && tenses">
    <ion-row>

      <ion-col class="pronombre">
        <span >{{item.pronombre}}</span>
      </ion-col>
      <ion-col class="pro_reflex">{{item.pronombre_reflex}}</ion-col>
      <ion-col class="verbaux">{{item.verbo_auxiliar}}</ion-col>
      <ion-col>{{item.raiz}}<b style="color:blue;">{{item.desinencia}}</b></ion-col>
      <ion-col>
        <button *ngIf="item.regla" ion-button icon-only color="light" item-end (click)="showRule(item.regla)">
          <ion-icon name="information"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </ion-item>
    
  <ion-item *ngIf="!afirmativo && informal && item.forma_verbal == 'Negativo reflexivo informal' && tenses">
  <ion-row>  
    <ion-col class="pronombre">{{item.pronombre}}</ion-col>
    <ion-col style="color:darkred; forn-weight:bold;">no</ion-col>
    <ion-col class="pro_reflex">{{item.pronombre_reflex}}</ion-col>
    <ion-col class="verbaux">{{item.verbo_auxiliar}}</ion-col>
    <ion-col>{{item.raiz}}<b style="color:blue;">{{item.desinencia}}</b></ion-col>
    <ion-col>
      <button *ngIf="item.regla" ion-button icon-only color="light" item-end (click)="showRule(item.regla)">
        <ion-icon name="information"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  </ion-item>

  <ion-item *ngIf="afirmativo && !informal && item.forma_verbal == 'Afirmativo reflexivo formal' && tenses">
  <ion-row>  
    <ion-col class="pronombre">{{item.pronombre_formal_id}}</ion-col>
    <ion-col class="pro_reflex">{{item.pronombre_reflex}}</ion-col>
    <ion-col class="verbaux">{{item.verbo_auxiliar}}</ion-col>
    <ion-col>{{item.raiz}}<b style="color:blue;">{{item.desinencia}}</b></ion-col>
    <ion-col>
      <button *ngIf="item.regla" ion-button icon-only color="light" item-end (click)="showRule(item.regla)">
        <ion-icon name="information"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  </ion-item>  

  <ion-item *ngIf="!afirmativo && !informal && item.forma_verbal == 'Negativo reflexivo formal' && tenses">
  <ion-row>  
    <ion-col class="pronombre">{{item.pronombre_formal_id}}</ion-col>
    <ion-col style="color:darkred; forn-weight:bold;">no</ion-col>
    <ion-col class="pro_reflex">{{item.pronombre_reflex}}</ion-col>
    <ion-col class="verbaux">{{item.verbo_auxiliar}}</ion-col>
    <ion-col>{{item.raiz}}<b style="color:blue;">{{item.desinencia}}</b></ion-col>
    <ion-col>
      <button *ngIf="item.regla" ion-button icon-only color="light" item-end (click)="showRule(item.regla)">
        <ion-icon name="information"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  </ion-item>  

  </div>
  
  <ion-grid class="grid-buttons">
    <ion-row>
      <ion-col col-6>
        <button ion-button block class="grdnt" (click)="informalAfmt()">Afirmativo Informal</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block class="grdnt" (click)="informalNeg()">Negativo Informal</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-button block class="grdnt" (click)="formalAfmt()">Afirmativo Formal</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block class="grdnt" (click)="formalNeg()">Negativo Formal</button>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-item-group>	
</ion-content>
