page-verbo-regular {
	.pronombre{
		color: green;
	}
	#negado{
		color: darkred;
	}
	.grid-buttons{
		background-color: rgba(18,99,115,0.9);
		.grdnt{
			font-weight: bold;
		}
	}
	.pro_reflex{
		color: #02857c;
	}
	.verbaux{
		color: #b218ff;
	}

	.fab{
		background-color: rgba(0,0,0,0.4);
	}
}
