page-verbo-regular {

	.mover{
		margin-right: 10px;
	}

	.item-md.item-block .item-inner{
		padding-left:1px;
		padding-right:1px;
		margin:0;
	}

	.sup{
		vertical-align:super;
		font-size:0.9rem;
	}

	ion-item-divider{
		border-bottom:1px solid gray;
		border-top:1px solid gray;
	}

	.unique{
		color:red;
	}

	.fab{
		background-color: rgba(0,0,0,0.4);
	}
	
	ion-col{
		font-size:1.2rem;
	}
	.pgramatical{
		font-weight:bold;
		color:#2889ff;
	}
	.pgramatical2{
		font-weight:bold;
		color:#ff1275;
	}

	ion-icon{
		color:white;
	}

	ion-segment-button{
		padding:3px;
	}
	.rc{
		color:red;
	}
	.capi{
		text-transform:capitalize;
	}
	.fdivider{
		b{
			color:#ff2600;
		}
	}
	.hasrule{
		border-top:3px groove #ff0400;
		background-color: rgba(255, 128, 49, 0.8);
	}
	.desinencia{
		font-weight:bold;
	}
}